<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="postcomments" th:fragment="com">
    <ol class="commentlist" >
        <li class="comment-content" th:each="comment : ${commentList}">
            <span class="comment-f">#1</span>
            <div class="comment-avatar"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
            <div class="comment-main">
                <p>来自<span class="address" th:text="${comment.user.addr}">河南郑州</span>的用户<span class="time" th:text="${comment.time}">(2016-01-06)</span><br />
                    [[${comment.comment}]]</p>
            </div>
        </li>
    </ol>

    <!--<div class="quotes">-->
        <!--<span class="disabled">首页</span>-->
        <!--<span class="disabled">上一页</span>-->
        <!--<a th:attr="class=${currentPage == num?'current':''}" class="current" th:each="num:${#numbers.sequence(1,totalTime)}" th:text="${num}">1</a>-->
        <!--<span id="ca">下一页</span>-->
        <!--<span class="disabled">尾页</span>-->
    <!--</div>-->
</div>

</body>
</html>